#main-header {
  height: $viewPortHeight;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 130px 1fr 1fr;
  font-family: $mainTextFonts;
  line-height: 1.9;
  z-index: 7;
  font-size: $textSmallSize;
  position: relative;

  .header-column-1 {
    @include mainGradientColor();
    grid-row: 1/2;
    grid-column: 1/2;
    line-height: 0.9;

    .header-phone {
      position: absolute;
      bottom: 20px;
      z-index: 10;
      background: $main-color;
      border-radius: 0 20px 20px 0;
      span {
        color: #fff;
        padding: 5px;
        display: inline-block;
        a {
          font-size: 1.4rem;
          color: $main-color;
          background: #fff;
          display: inline-block;
          padding: 5px;
          border-radius: 20px;
          &:hover {
            background: $terciary-color;
            border: 2px solid #fff;
            padding: 3px;
            color: #fff;
          }
        }
      }
    }

    h1 {
      color: red;
      text-shadow: -5px 5px 5px #000;
      font-size: $titleSmallSize;
      font-family: 'Dosis', sans-serif;
      line-height: 1.2;
      text-align: center;
      margin-top: 30px;

      span {
        color: $secondary-color;
        display: block;
      }
    }
  }

  .header-column-2 {
    background: url("../img/showcase-left.jpg") center / cover no-repeat;
    grid-row: 2/3;

    .header-column-2-text {
      background: rgba(0,0,0,0.6);
      padding: 5px;
      text-align: center;
      font-size: 1rem;
      font-family: $mainTextFonts;
      color: lighten($secondary-color, 15%);

      h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
      }

      p {
        display: none;
      }
    }
  }

  .header-column-3 {
    grid-row: 3/4;
    grid-column: 1/2;
    position: relative;

    .video-container {
      position: relative;
      height: 100%;
      width: 100%;
      bottom: 0;
      video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .header-column-3-text {
      background: rgba(0,0,0,0.6);
      color: lighten($secondary-color, 15%);
      padding: 5px;
      text-align: center;
      font-size: 1rem;
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      z-index: 5;

      h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
      }

      p {
        display: none;
      }
    }
  }
}