@media (min-width: 720px){
  .hamburger-menu {
    display: none;
  }
  #main-header {
    grid-template-rows: 70px 150px 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    .main-nav {
      height: 100%;
      grid-row: 1/2;
      grid-column: 1/3;
      top: 0;
      position: static;

      .main-ul {
        flex-direction: row;
        font-size: 1.4rem;
        position: static;
        border-radius: 0;
        background: darken($main-color, 10%);

        .nav-link {
          padding: 10px;

          display: inline-block;
          margin: 0 20px;
          color: #fff;
        }
      }
    }
    .header-column-1 {
      grid-row: 2/3;
      grid-column: 1/3;
      text-align: center;

      .header-phone {
        bottom: 60px;
        span {
          font-size: 2rem;
          a {
            font-size: 2rem;
            margin: auto;
          }
        }
      }

      .logo {
        top: 10px;
        left: 30px;
        width: 80px;
        height: 80px;
        z-index: 100;
      }

      h1 {
        font-size: $titleMediumSize;

        span {
          display: inline-block;
        }
      }
    }
    .header-column-2 {
      grid-row: 3/5;
      grid-column: 1/2;
      @include useFlexbox(column, center, stretch);
      .header-column-2-text {
        font-size: $textMediumSize;
      }
    }
    .header-column-3 {
      grid-row: 3/5;
      grid-column: 2/3;

      .header-column-3-text {
        font-size: $textMediumSize;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .call-now {
    position: relative;
    #back-to-top {
      display: inline-block;
      font-size: 0.6rem;
      background: $terciary-color;
      padding: 5px;
      color: #fff;
      border-radius: 50px;
      position: fixed;
      bottom: 100px;
      right: 20px;
      z-index: 5;
      border: 3px solid #000;
      &:hover {
        background: darken($terciary-color, 15%);
      }
    }
  }

  #services {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 1fr;
    grid-gap: 20px;
    font-size: $textMediumSize;

    .services-column-1 {
      grid-row: 1/2;
      grid-column: 1/3;

      h2 {
        font-size: $titleMediumSize;
      }
    }

    .services-column-2 {
      grid-row: 2/3;
      grid-column: 1/2;
      h2 {
        font-size: 2.5rem;
      }
    }

    .services-column-3 {
      grid-row: 2/3;
      grid-column: 2/3;
      h2 {
        font-size: 2.5rem;
      }
    }

    .services-button {
      &:hover {
        background: darken($terciary-color, 15%);
        border: 2px solid $main-color;
      }
    }
  }

  #benefits {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 400px 400px;
    font-size: $textMediumSize;

    .title-benefits {
      grid-row: 1/2;
      grid-column: 1/3;
      h2 {
        font-size: $titleMediumSize;
      }
    }

    .benefits-col {
      align-items: center;
      font-size: $textMediumSize;
      .benefits-text {
        i {
          font-size: 4rem;
        }
      }
    }
    .benefits-1 {
      grid-row: 2/3;
      grid-column: 1/2;
    }

    .benefits-2 {
      grid-row: 3/4;
      grid-column: 1/3;
    }

    .benefits-3 {
      grid-row: 2/3;
      grid-column: 2/3;
    }
  }

  #reviews {
    .text-reviews {
      padding: 20px;
      font-size: 1.5rem;
    }
    .fas {
      font-size: 2rem;
    }
  }

  footer {
    .footer-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 300px 100px;

      .footer-1 {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      .footer-2 {
        grid-column: 2/3;
        grid-row: 1/2;

        @include useFlexbox(column, center, stretch);
      }
      .footer-3 {
        grid-column: 1/3;
        grid-row: 2/3;
      }
    }
  }

} //media queries end


///*****************************************************/////////

@media (min-width: 1100px) {
  #main-header {
    grid-template-rows: 100px 1fr 200px 200px;
    grid-template-columns: 20% 1fr 1fr;

    .main-nav {
      background: rgba(0,0,0,0.2);
      grid-row: 1/2;
      grid-column: 3/4;

      .main-ul {
        background: none;
        .nav-link {
          color: #fff;
          font-weight: 600;
        }
      }
    }
    .header-column-1 {
      grid-row: 1/5;
      grid-column: 1/2;

      .logo {
        position: absolute;
        display: block;
        left: 20px;
        margin-bottom: 50px;
        border-radius: 100%;
      }

      h1 {
        position: absolute;
        top: 100px;
        left: 100px;
        font-size: 6rem;
        z-index: 10;
        text-align: left;
        span {
          display: block;
        }
      }

      .header-phone {
        padding-left: 100px;
        bottom: 150px;
      }
    }
    .header-column-2 {
      grid-row: 1/5;
      grid-column: 2/3;
      background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
      url("../img/showcase-left.jpg") center / cover no-repeat;
      @include useFlexbox(column, flex-end, stretch);

      .header-column-2-text{
        height: 150px;
        @include useFlexbox(column, center, stretch);
        text-align: left;
        h2 {
          font-size: 1.5rem;
        }
        p {
          display: block;
          font-size: $textMediumSize;
        }
      }
    }
    .header-column-3 {
      grid-row: 1/5;
      grid-column: 3/4;

      .header-column-3-text {
        @include useFlexbox(column, center, stretch);
        height: 150px;
        text-align: left;
        background: darken(rgba(101, 169, 177, 0.8), 25%);
        color: #fff;
        top: calc(100vh - 150px);
        transform: translateY(0);
        h2 {
          font-size: 1.5rem;
        }
        p {
          display: block;
          font-size: $textMediumSize;
        }
      }
    }
  }

  .call-now {
    height: 15vh;
    span {
      height: 100%;
      font-size: $textMediumSize;
    }
  }

  #services {
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: $viewPortHeight;

    .services-column-1 {
      grid-row: 1/3;
      grid-column: 1/2;
      flex-direction: row;
      h2 {
        font-size: 3rem;
        writing-mode: vertical-lr;
        text-orientation: upright;
      }
    }
    .services-column-2 {
      @include useFlexbox(row, center, center);
      grid-row: 1/2;
      grid-column: 2/4;
      width: 90%;
      margin: auto;
    }
    .services-column-3 {
      @include useFlexbox(row, center, center);
      grid-row: 2/3;
      grid-column: 2/4;
      width: 90%;
      margin: auto;
      .services-image-3 {
        order: 2;
      }
      .text-container {
        order: 1;
      }
    }

    .services-col-2-3 {
      padding: 0;
      font-size: 1.5rem;

      .services-image-2,
      .services-image-3 {
        margin: 5px;
        height: 300px;
        width: 100%;
        box-shadow: $terciary-color 20px -20px 0 0;
      }

      .text-container {
        margin-left: 50px;
      }
    }

    .services-image-2,
    .services-image-3 {
      height: 100px;
      width: 50%;
      box-shadow: $terciary-color 10px -10px 0 0;
    }

    p {
      margin: 15px 0;
      font-size: 1.4rem;
      line-height: 1.7;
    }


  } // end services

  #benefits {
    grid-template-rows: 150px repeat(5, 100px);
    grid-template-columns: 1fr 1fr 1fr;
    font-size: $textMediumSize;
    grid-gap: 10px;

    .title-benefits {
      grid-row: 1/2;
      grid-column: 1/4;
    }

    .benefits-col {
      align-items: center;
      .benefits-text {
        font-size: 1rem;
        span {
          font-size: 1.4rem;
        }
        i {
          font-size: 3rem;
        }
      }
    }
    .benefits-1 {
      grid-row: 2/5;
      grid-column: 1/2;
    }

    .benefits-2 {
      grid-row: 3/6;
      grid-column: 2/3;
    }

    .benefits-3 {
      grid-row: 4/7;
      grid-column: 3/4;
    }
  }

  #reviews {
    height: 90vh;
    display: flex;
    padding: 20px;
    .reviews-text {
      @include useFlexbox(column, center, center);
      width: 80%;
      padding: 50px;

      h2 {
        font-size: $titleMediumSize;
        font-family: $titleFonts;
        margin-bottom: 20px;
        color: $main-color;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }

  .modal-services {

    .modal-services-text {
      width: 40%;
      height: 100%;
    }
  }

  footer {
    .footer-container {
      margin: auto;
    }
  }

} // end media queries