
.main-nav {
  position: fixed;
  width: 100%;
  height: $viewPortHeight;
  top: -120%;
  transition: all 0.8s ease-in-out;
  z-index: 90;

  .main-ul {
    @include useFlexbox(column, center, center);
    @include mainGradientColor();
    height: 100%;
    width: 100%;
    font-size: 2.4rem;
    position: absolute;
    z-index: 90;
    border-radius: 50% 0 50% 0;

    .nav-link {
      display: inline-block;
      margin: 20px 0;
      padding: 10px 25px;
      position: relative;
      color: #fff;
      font-size: $btnTextSmallSize;

      &:hover {
        font-weight: 700;
      }

      &:hover:after {
        content: "";
        position: absolute;
        height: 10px;
        width: 100%;
        background: $main-color;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

.hamburger-menu {
  display: none;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 1000;
  transition: transform 1s ease-in-out;
  background: #fff;
  border-radius: 100%;

  .line {
    background: #000;
    width: 70%;
    height: 4px;
    margin-top: 5px;
    margin-left: 5px;
    transition: all 0.8s;
  }
}

.change {
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 80;
}

//hamburger Menu
.change .line-1 {
  transform: rotateZ(-405deg) translate(-10px, 5px);
  width: 90%;
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(405deg) translate(-8px, -3px);
  width: 90%;
}