// Font Family
$titleFonts: 'Dosis', sans-serif;
$mainTextFonts:'Poppins', sans-serif;

// Colors
$main-color: #0fa788;
$secondary-color: #65a9b1;
$terciary-color: #A468FF;


// small size
$titleSmallSize: 2.1rem;
$textSmallSize: 1rem;
$btnTextSmallSize: 1.8rem;

// Font Medium size 720px
$titleMediumSize: 4rem;
$textMediumSize: 1.5rem;

// Font Large size 1100px
$titleLargeSize: 2.8rem; // Only applied to services h2
$textLargeSize: 1.8rem;


// Vh Height
$viewPortHeight: 100vh;